{% extends 'account/new_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load student_remaining_fees_tags %}

{% block body %}

    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h3>Enrollments</h3>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-hover" style="margin-top: 20px">
          <thead>
            <tr>
                 <th>Sr.No.</th>
                 <th>Name</th>
                 <th>Course</th>
                 <th>Fees Paid</th>
                 <th>Fees Pending</th>

                 <th>Edit</th>
                 <th>Fees Payment</th>
                 <th>Url</th>
            </tr>
          </thead>
          <tbody>
                {% for enrollment_obj in enrollments %}
                    <tr>
                        <td data-label="S.No">{{ forloop.counter }}</td>
                        <td data-label="Name">{{ enrollment_obj.student }}</td>
                        <td data-label="Course">{{ enrollment_obj.course }}</td>
                        <td data-label="Fees Paid" id="paid_amount-{{ enrollment_obj.id }}">{% total_paid_amount_per_course enrollment_obj.id %}</td>
                        <td data-label="Fees Pending" id="pending_amount-{{ enrollment_obj.id }}">{% remaining_amount_per_course enrollment_obj.id enrollment_obj.course_id %}</td>
    {#                    <td data-label="Delete Enrollment">#}
    {#                        <a class="btn btn-outline-danger" id="delete-button-{{ enrollment_obj.id }}"#}
    {#                           onclick="confirmDelete()"#}
    {#                           href="#">#}
    {#                            Delete</a>#}
    {#                        <script>#}
    {#                          function confirmDelete(){#}
    {#                                var result = window.confirm('Are you sure you want to delete this?');#}
    {#                                console.log(result)#}
    {#                                if (result === true) {#}
    {#                                    var url = "{%  url 'delete_enrollment' enrollment_obj.id %}"#}
    {#                                    window.open(url)#}
    {#                                }#}
    {#                          }#}
    {#                        </script>#}
    {##}
    {#                    </td>#}
                        <td data-label="Edit Enrollment">
                            <a class="btn btn-outline-primary" href="{%  url 'update_enrollment' enrollment_obj.id %}">Edit</a>
                        </td>
                        <td data-label="Add Transaction" id="transaction-{{ enrollment_obj.id }}">
                            <a class="btn btn-outline-info" href="{%  url 'add_transaction' enrollment_obj.id %}">Pay Fees</a>
                        </td>
                        {% if enrollment_obj.url %}
                            <td data-label="url">
                                <a href="{{ enrollment_obj.url }}" target="_blank">Meet</a></td>
                        {% else %}
                            <td data-label="url">No meet</td>
                        {% endif %}
                    </tr>

                    <script>
                        var fees_pending = document.getElementById("pending_amount-{{ enrollment_obj.id }}").innerHTML;
                        if (fees_pending === '0'){
                            document.getElementById("transaction-{{ enrollment_obj.id }}").innerHTML = "Already Paid";
                        }
                    </script>
                {% endfor %}

          </tbody>
        </table>
    </div>
{% endblock %}
