{% extends 'account/new_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load student_remaining_fees_tags %}

{% block body %}

    <div class="jumbotron">
      <h1 class="display-3">Futuretech kidz</h1>
      <h1 class="display-6">Let's learn Coding!</h1>

          <hr class="my-4">
          <p class="h6" style="margin-bottom: 20px"> Let our passionate educators help you to reach your goals!</p>
        <p class="lead">
            {% if request.user.is_authenticated %}
                {% if request.user.is_admin %}
                    <a class="btn btn-primary btn-lg" href="/admin" role="button">Admin</a>
                {% endif %}
                  <a class="btn btn-primary btn-lg" href="#" role="button">Courses</a>
            {% else %}
                <a class="btn btn-info btn-lg" href="{% url 'login' %}" role="button">Login</a>
{#                <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a>#}
            {% endif %}
        </p>
    </div>

{% endblock %}

