{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
<!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'course/css/styleform.css' %}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Registration</span>

                <form method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" placeholder="Enter your username" name="username" id="id_username" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" name="email" id="id_email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Create a password" name="password1" id="id_password1" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirm a password" name="password2" id="id_password2" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">I accepted all terms and conditions</label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Register">
                    </div>
                </form>



                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="{% url 'register' %}" class="text signup-link">Signup Now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'course/js/scriptform.js' %}"></script>
{% endblock %}

