{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load student_remaining_fees_tags %}
{% block style %}
    <link rel="stylesheet" href="{% static 'course/css/table.css' %}">
{% endblock %}

{% block body %}

    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>Enrolled Student In Your Franchise</h1>
    {% endif %}

    <a class="btn btn-info" href="#">Enroll Student</a>


   <table class="table">
     <thead>
     	<tr>
     	 <th>Sr.No.</th>
     	 <th>Name</th>
     	 <th>Course</th>
     	 <th>Fees Paid</th>
     	 <th>Fees Pending</th>
     	</tr>
     </thead>
     <tbody>

        {% for enrollment_obj in enroll_students %}
              <tr>
                  <td data-label="S.No">{{ forloop.counter }}</td>
                  <td data-label="Name">{{ enrollment_obj.student }}</td>

                  <td data-label="Course">{{ enrollment_obj.course }}</td>
                  <td data-label="Fees Paid">{% total_paid_amount_per_course enrollment_obj.student_id enrollment_obj.course_id %}</td>
                  <td data-label="Fees Pending">{% remaining_amount_per_course enrollment_obj.student_id enrollment_obj.course_id %}</td>
              </tr>
        {% endfor %}

     </tbody>
   </table>

{% endblock %}
