{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'course/css/table.css' %}">
{% endblock %}

{% block body %}
   <table class="table">
     <thead>
     	<tr>
     	 <th>Sr.No.</th>
     	 <th>Name</th>
     	 <th>Course</th>
		 <th>Franchise</th>
     	 <th>Fees Paid</th>
     	 <th>Fees Pending</th>
     	</tr>
     </thead>
     <tbody>
     	  <tr>
     	  	  <td data-label="S.No">1</td>
     	  	  <td data-label="Name">Dinesh</td>
     	  	  <td data-label="Course">Python</td>
			  <td data-label="Franchise">Karvenagar</td>
     	  	  <td data-label="Fees Paid">5000</td>
     	  	  <td data-label="Fees Pending">1000</td>
     	  </tr>

     	  <tr>
     	  	  <td data-label="S.No">2</td>
     	  	  <td data-label="Name">Kamal</td>
			  <td data-label="Course">C++</td>
			  <td data-label="Franchise">Kothrud</td>
     	  	  <td data-label="Fees Paid">6000</td>
     	  	  <td data-label="Fees Pending">2000</td>
     	  </tr>

     	  <tr>
     	  	  <td data-label="S.No">3</td>
     	  	  <td data-label="Name">Neha</td>
     	  	  <td data-label="Course">C</td>
			  <td data-label="Franchise">Hadapsar</td>
     	  	  <td data-label="Fees Paid">8000</td>
     	  	  <td data-label="Fees Pending">1000</td>
     	  </tr>

     	  <tr>
     	  	  <td data-label="S.No">4</td>
     	  	  <td data-label="Name">Priya</td>
     	  	  <td data-label="Course">Java</td>
			  <td data-label="Franchise">Yerwada</td>
     	  	  <td data-label="Fees Paid">9000</td>
     	  	  <td data-label="Fees Pending">500</td>
     	  </tr>

		   <tr>
			<td data-label="S.No">5</td>
			<td data-label="Name">Dinesh</td>
			<td data-label="Course">Python</td>
			<td data-label="Franchise">Shivajinagar</td>
			<td data-label="Fees Paid">5000</td>
			<td data-label="Fees Pending">1000</td>
	  </tr>

	  <tr>
			<td data-label="S.No">6</td>
			<td data-label="Name">Kamal</td>
			<td data-label="Course">C++</td>
			<td data-label="Franchise">Pimpri</td>
			<td data-label="Fees Paid">6000</td>
			<td data-label="Fees Pending">2000</td>
	  </tr>

	  <tr>
			<td data-label="S.No">7</td>
			<td data-label="Name">Neha</td>
			<td data-label="Course">C</td>
			<td data-label="Franchise">Baner</td>
			<td data-label="Fees Paid">8000</td>
			<td data-label="Fees Pending">1000</td>
	  </tr>

	  <tr>
			<td data-label="S.No">8</td>
			<td data-label="Name">Priya</td>
			<td data-label="Course">Java</td>
			<td data-label="Franchise">Koregaon</td>
			<td data-label="Fees Paid">9000</td>
			<td data-label="Fees Pending">500</td>
	  </tr>
     </tbody>
   </table>

{% endblock %}
